name: PHP

on:
  pull_request: {}
  push:
    branches:
      - master
    tags:
      - v*.*.*

jobs:
  php-library:
    uses: equisoft-actions/php-workflows/.github/workflows/php-library.yml@v2
    with:
      checks: phpunit,psalm
      php-version: '7.4'
      extensions: pcov
    secrets:
      GPR_KEY: ${{ secrets.GPR_KEY }}

  php-library-8-1:
    uses: equisoft-actions/php-workflows/.github/workflows/php-library.yml@81db999a67d7c759425551c47cc5a6feb86059f6
    with:
      checks: phpunit,psalm,qodana
      php-version: '8.1'
      extensions: pcov
      psalm-extra-args: '--no-diff --no-cache --php-version=8.1'
    secrets:
      GPR_KEY: ${{ secrets.GPR_KEY }}
