name: PHP

on:
  pull_request: {}
  push:
    branches:
      - master
    tags:
      - v*.*.*

jobs:
  php-library:
    uses: equisoft-actions/php-workflows/.github/workflows/php-library.yml@v2.1.0
    with:
      checks: phpunit,psalm
      php-version: '7.4'
      extensions: pcov
    secrets:
      GPR_KEY: ${{ secrets.GPR_KEY }}
